<section class="contenidoBlog">
    <aside class="formulario">
        <span class="tituloFormulario">- ¿Te gustaría añadir una nueva noticia al blog? -</span>
        <div class="campoFormulario">
            <label for="titulo">Título:</label>
            <input class="input" type="text" placeholder="Introduce un título para la noticia" id="titulo" [(ngModel)]="newNoticia.titulo">
        </div>
        <div class="campoFormulario">
            <label for="imagen">Imagen:</label>
            <input class="input" type="text" placeholder="Introduce URL de imagen para la noticia" id="imagen" [(ngModel)]="newNoticia.imagen">
        </div>
        <div class="campoFormulario">
            <label for="cuerpo">Contenido:</label>
            <textarea class="input input--contenido" type="text" placeholder="Introduce el texto del cuerpo para la noticia" id="cuerpo" [(ngModel)]="newNoticia.cuerpo">
            </textarea>
        </div>
        <div class="campoFormulario">
            <label for="fecha">Fecha de Publicación:</label>
            <input class="input" type="date" placeholder="Introduce fecha de publicación de la noticia" id="fecha" [(ngModel)]="newNoticia.fechaPublicacion">
        </div>
        <div class="div_btn">
            <button class="btn" (click)="guardarNoticia()">>> Insertar nueva noticia en el blog</button>
        </div>
    </aside>

    <div class="listadoNoticias" [innerHTML]="cargarNoticia()"></div>
</section>
