/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01rem;
}

.listadoNoticias{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: white;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 35px;
    padding-left: 90px;
    padding-right: 90px;
}

.tituloNoticia{
    font-size: 1.7rem;
    text-align: center; 
}

.imagenNoticia{
    max-width: 500px;
    width: 100%;
    height: auto;
    text-align: center; 
}

.textoNoticia{
    height: auto;
    max-width: 100%;
    word-wrap: break-word;
    text-align: justify;
    font-size: 0.9rem;
}

.fechaNoticia{
    text-align:center;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 0.8rem;
}
